<div class="container">
  <h1> Bautizo </h1>
  <div class="row">
    <div class="col">
      <p-table #tt [columns]="headers" [value]="certificates" [paginator]="true" [rows]="10">
        <ng-template pTemplate="caption">
          <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
          <input type="text" pInputText size="50" placeholder="Global Filter" (input)="tt.filterGlobal($event.target.value, 'contains')" style="width:auto">
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th *ngFor="let header of headers"
              [pSortableColumn]="header.field">
              {{ header.header }}
              <p-sortIcon [field]="header.field"></p-sortIcon>
            </th>
            <th> Optiones </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-certificate>
          <tr>
            <td> {{ certificate.user.nombres }} </td>
            <td> {{ certificate.user.apellidoPaterno }} </td>
            <td> {{ certificate.user.apellidoMaterno }} </td>
            <td> {{ certificate.fecha }} </td>
            <td> {{ certificate.user.genero }} </td>
            <td> ---- </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          Existen {{ certificates.length }} bautizados.
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
