<!-- START LEFT SIDEBAR NAV-->
<aside id="left-sidebar-nav">
  <ul id="slide-out" class="side-nav fixed leftside-navigation ps-container ps-active-y" style="left: 0px; height: 986px;">
    <li class="user-details orange lighten-1">
      <div class="row">
        <div class="col col s4 m4 l4">
          <ng-container *ngIf="!!account; then UserAvatar; else NoUserAvatar;"></ng-container>
          <ng-template #UserAvatar>
            <img src="assets/materialize-admin/images/admin.png" alt="" class="circle responsive-img valign profile-image">
          </ng-template>
          <ng-template #NoUserAvatar>
            <img src="assets/materialize-admin/images/admin.png" alt="" class="circle responsive-img valign profile-image">
          </ng-template>
        </div>
        <div class="col col s8 m8 l8">
          <ng-container *ngIf="!!account; then UserInfo; else NoUserInfo;"></ng-container>
          <ng-template #UserInfo>
            <a class="btn-flat dropdown-button waves-effect waves-light white-text profile-btn" data-activates="profile-dropdown">
              {{ account.user.nombres }} {{ account.user.apellidoPaterno }} <i class="mdi-navigation-arrow-drop-down right"></i>
            </a>
            <ul id="profile-dropdown" class="dropdown-content">
              <li>
                <a href="#">
                  <i class="mdi-action-face-unlock"></i> Perfil
                </a>
              </li>
              <li class="divider"></li>
              <li>
                <a (click)="logout()">
                  <i class="mdi-action-exit-to-app"></i> Salir
                </a>
              </li>
            </ul>
            <p class="user-roal left"> {{ account.role }} </p>
          </ng-template>
          <ng-template #NoUserInfo>
            <a class="btn-flat dropdown-button waves-effect waves-light white-text profile-btn">
              Invitado
            </a>
          </ng-template>
        </div>
      </div>
    </li>
    <li class="bold">
      <a [routerLink]="['/sacraments', 'home']" class="waves-effect waves-cyan">
        <i class="mdi-action-dashboard"></i> Inicio
      </a>
    </li>
    <li class="bold">
      <a [routerLink]="['/sacraments', 'faithful']" class="waves-effect waves-cyan">
        <i class="mdi-social-group"></i> Fieles
      </a>
    </li>
    <li class="no-padding">
      <ul class="collapsible collapsible-accordion">
        <li class="bold">
          <a class="collapsible-header waves-effect waves-cyan">
            <i class="mdi-file-folder-shared"></i>
            Sacramentos
          </a>
          <div class="collapsible-body" style="">
            <ul>
              <li>
                <a [routerLink]="['/sacraments', 'baptism']" class="waves-effect waves-cyan">
                  <i class=" mdi-editor-format-color-fill"></i>
                  Bautizo
                </a>
              </li>
              <li>
                <a [routerLink]="['/sacraments', 'communion']" class="waves-effect waves-cyan">
                  <i class="mdi-action-accessibility"></i>
                  P. Comunión
                </a>
              </li>
              <li>
                <a [routerLink]="['/sacraments', 'confirmation']" class="waves-effect waves-cyan">
                  <i class="mdi-social-whatshot"></i>
                  Confirmación
                </a>
              </li>
              <li>
                <a [routerLink]="['/sacraments', 'marriage']" class="waves-effect waves-cyan">
                  <i class="mdi-action-favorite"></i>
                  Matrimonio
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </li>
    <ng-container *ngIf="!!account; then UserOptions; else NoUserOptions;"></ng-container>
    <ng-template #UserOptions>
      <li class="bold">
        <a href="email" class="waves-effect waves-cyan">
          <i class="mdi-communication-email"></i> Enviar Email's
        </a>
      </li>
    </ng-template>
    <ng-template #NoUserOptions>
      <li class="bold">
        <a [routerLink]="['/login']" class="waves-effect waves-cyan">
          <i class="mdi-action-input"></i> Acceder
        </a>
      </li>
    </ng-template>
    <br>
    <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 3px;">
      <div class="ps-scrollbar-x" style="left: 0px; width: 0px;"></div>
    </div>
    <div class="ps-scrollbar-y-rail" style="top: 0px; height: 926px; right: 3px;">
      <div class="ps-scrollbar-y" style="top: 0px; height: 659px;"></div>
    </div>
  </ul>
  <a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only cyan">
    <i class="mdi-navigation-menu"></i>
  </a>
</aside>
